:root {
  --width-1: 90px;
  --height-1: 100px; 

  --width-2: 145px;
  --height-2: 200px;

  --width-3: 190px;
  --height-3: 100px;

  --width-4: 90px;
  --height-4: 150px;

  --width-5: 195px;
  --height-5: 150px;

  --width-6: 95px;
  --height-6: 150px;

  /* Colors */

  --color--primary: #007bff;;
}

.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
  border-radius: 5px;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.no-filter {
	display: none;
}


.uno {
  width: var(--width-1);
  height: var(--height-1);
  background-color: var(--color--primary);
}

.dos {
  width: var(--width-2);
  height: var(--height-2);
  background-color: var(--color--primary);
}

.tres {
  width: var(--width-3);
  height: var(--height-3);
  background-color: var(--color--primary);
}

.cuatro {
  width: var(--width-4);
  height: var(--height-4);
  background-color: var(--color--primary);
}

.cinco {
  width: var(--width-5);
  height: var(--height-5);
  background-color: var(--color--primary);
}

.seis {
  width: var(--width-6);
  height: var(--height-6);
  background-color: var(--color--primary);
}